[Desktop Entry]
Name=ATI Control
Comment=ATI graphics adapter settings
Name[de]=ATI Control
Comment[de]=ATI grafics adapter settings
Name[es]=ATI Control
Comment[es]=Ajustes de tarjeta grafica ATI
Name[fr]=ATI Control
Comment[fr]=Contrôles de carte graphique ATI
Exec=fireglcontrolpanel
Icon=fireglcontrolpanel.png
Type=Application
Encoding=UTF-8
Categories=Application;System;GNOME;
