[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Mail Message
Comment=Compose a Mail Message with Mozilla
Exec=/usr/bin/mozilla -compose
Icon=mozilla-compose-icon
Terminal=0
Type=Application
Categories=X-Red-Hat-Extra;Application;Network;
