[Desktop Entry]
Encoding=UTF-8
Name=Blackbox
Name[az]=Blackbox
Name[be]=Blackbox
Name[ca]=Blackbox
Name[cs]=Blackbox
Name[cy]=Blackbox
Name[da]=Blackbox
Name[de]=Blackbox
Name[el]=Blackbox
Name[es]=Blackbox
Name[et]=Blackbox
Name[fi]=Blackbox
Name[fr]=Blackbox
Name[he]=Blackbox
Name[hi]=Blackbox
Name[hu]=Blackbox
Name[it]=Blackbox
Name[ja]=Blackbox
Name[ko]=Blackbox
Name[ms]=Blackbox
Name[nl]=Blackbox
Name[nn]=Blackbox
Name[no]=Blackbox
Name[pl]=Blackbox
Name[pt]=Blackbox
Name[pt_BR]=Blackbox
Name[ro]=Blackbox
Name[ru]=Blackbox
Name[sk]=Blackbox
Name[sl]=Blackbox
Name[sq]=Blackbox
Name[sr]=Blackbox
Name[sr@Latn]=Blackbox
Name[sv]=Blackbox
Name[tr]=Blackbox
Name[uk]=Blackbox
Name[vi]=Blackbox
Name[wa]=Blackbox
Name[zh_CN]=Blackbox
Name[zh_TW]=Blackbox
Comment=This session logs you into Blackbox
Comment[az]=Bu iclas sizi Blackbox'a daxil edəcək
Comment[be]=Гэтая сэсыя завядзе вас у Blackbox
Comment[ca]=Aquesta sessió entra en Blackbox
Comment[cs]=Toto sezení vás přihlásí do Blackbox
Comment[cy]=Mae'r sesiwn hwn yn eich mewngofnodi i Blackbox
Comment[da]=Denne session logger dig på Blackbox
Comment[de]=Diese Sitzung meldet Sie an Blackbox an
Comment[el]=Αυτή η συνεδρία σας εισάγει στο Blackbox
Comment[es]=Con esta sesión accede a Blackbox
Comment[fi]=Tämä istunto kirjaa sisään Blackboxen
Comment[fr]=Cette session vous connectera dans Blackbox
Comment[he]=תצורת הפעלה זו מחברת אותך ל Blackbox
Comment[hi]=यह सत्र गनोम में लॉगिन होगा
Comment[hu]=Ez a munkamenet a Blackbox-ba jelentkeztet be
Comment[it]=Sessione di lavoro con Blackbox
Comment[ja]=Blackbox セッションにログインします
Comment[ko]=Blackbox세션으로 로그인합니다
Comment[ms]=Sesi ini akan log anda  ke Blackbox
Comment[nl]=Deze sessie meldt u aan bij Blackbox
Comment[nn]=Denne økta loggar på Blackbox
Comment[no]=Denne sesjonen logger deg inn til Blackbox
Comment[pl]=Sesja logowania do Blackbox
Comment[pt]=Esta sessão inicia-o no Blackbox
Comment[pt_BR]=Logar no ambiente Blackbox
Comment[ro]=Această sesiune vă va loga în Blackbox
Comment[sk]=Toto sedenie vás prihlási do prostredia Blackbox
Comment[sl]=Ta seja vas prijavi v Blackbox
Comment[sq]=Kjo seancë do t'ju fusë në Blackbox
Comment[sr]=Ова сесија вас пријављује на Blackbox
Comment[sr@Latn]=Ova sesija vas prijavljuje na Blackbox
Comment[sv]=Denna session loggar in dig i Blackbox
Comment[tr]=Bu oturum ile Blackbox'a giriş yaparsınız
Comment[uk]=Сеанс роботи в середовищі Blackbox
Comment[vi]=Session này cho bạn đăng nhập vào Blackbox
Comment[zh_CN]=此会话使您登录到 Blackbox
Comment[zh_TW]=選取這個作業階段後會進入 Blackbox 環境
Exec=blackbox
TryExec=blackbox
# no icon yet, only the top three are currently used
Icon=
Type=Application
