User        "nobody"
Group       "nobody"
#RootJail    "/var/pound/jail"
#Alive       60

## Main listening ports
#ListenHTTP
#    Address 1.2.3.4
#    Port    80
#    Client  10
#End
#ListenHTTPS
#    Address 1.2.3.4
#    Port    443
#    Cert    "/etc/pound/pound.pem"
#    Client  20
#End

## Image server
#Service
#    URL ".*.(jpg|gif)"
#    BackEnd
#        Address 192.168.0.10
#        Port    80
#    End
#End
## Virtual host www.myserver.com
#Service
#    URL         ".*sessid=.*"
#    HeadRequire "Host:.*www.myserver.com.*"
#    BackEnd
#        Address 192.168.0.11
#        Port    80
#    End
#    Session
#        Type    URL
#        ID      "sessid"
#        TTL     120
#    End
#End

## Everybody else
#Service
#    BackEnd
#        Address 192.168.0.20
#        Port    80
#        Priority 5
#    End
#    BackEnd
#        Address 192.168.0.21
#        Port    80
#        Priority 4
#    End
#    Session
#        Type    COOKIE
#        ID      "userid"
#        TTL     180
#    End
#End

