[Desktop Entry]
Encoding=UTF-8
Name=Hackedbox
Name[az]=Hackedbox
Name[be]=Hackedbox
Name[ca]=Hackedbox
Name[cs]=Hackedbox
Name[cy]=Hackedbox
Name[da]=Hackedbox
Name[de]=Hackedbox
Name[el]=Hackedbox
Name[es]=Hackedbox
Name[et]=Hackedbox
Name[fi]=Hackedbox
Name[fr]=Hackedbox
Name[he]=Hackedbox
Name[hi]=Hackedbox
Name[hu]=Hackedbox
Name[it]=Hackedbox
Name[ja]=Hackedbox
Name[ko]=Hackedbox
Name[ms]=Hackedbox
Name[nl]=Hackedbox
Name[nn]=Hackedbox
Name[no]=Hackedbox
Name[pl]=Hackedbox
Name[pt]=Hackedbox
Name[pt_BR]=Hackedbox
Name[ro]=Hackedbox
Name[ru]=Hackedbox
Name[sk]=Hackedbox
Name[sl]=Hackedbox
Name[sq]=Hackedbox
Name[sr]=Hackedbox
Name[sr@Latn]=Hackedbox
Name[sv]=Hackedbox
Name[tr]=Hackedbox
Name[uk]=Hackedbox
Name[vi]=Hackedbox
Name[wa]=Hackedbox
Name[zh_CN]=Hackedbox
Name[zh_TW]=Hackedbox
Comment=This session logs you into Hackedbox
Comment[az]=Bu iclas sizi Hackedbox'a daxil edəcək
Comment[be]=Гэтая сэсыя завядзе вас у Hackedbox
Comment[ca]=Aquesta sessió entra en Hackedbox
Comment[cs]=Toto sezení vás přihlásí do Hackedbox
Comment[cy]=Mae'r sesiwn hwn yn eich mewngofnodi i Hackedbox
Comment[da]=Denne session logger dig på Hackedbox
Comment[de]=Diese Sitzung meldet Sie an Hackedbox an
Comment[el]=Αυτή η συνεδρία σας εισάγει στο Hackedbox
Comment[es]=Con esta sesión accede a Hackedbox
Comment[fi]=Tämä istunto kirjaa sisään Hackedboxen
Comment[fr]=Cette session vous connectera dans Hackedbox
Comment[he]=תצורת הפעלה זו מחברת אותך ל Hackedbox
Comment[hi]=यह सत्र गनोम में लॉगिन होगा
Comment[hu]=Ez a munkamenet a Hackedbox-ba jelentkeztet be
Comment[it]=Sessione di lavoro con Hackedbox
Comment[ja]=Hackedbox セッションにログインします
Comment[ko]=Hackedbox세션으로 로그인합니다
Comment[ms]=Sesi ini akan log anda  ke Hackedbox
Comment[nl]=Deze sessie meldt u aan bij Hackedbox
Comment[nn]=Denne økta loggar på Hackedbox
Comment[no]=Denne sesjonen logger deg inn til Hackedbox
Comment[pl]=Sesja logowania do Hackedbox
Comment[pt]=Esta sessão inicia-o no Hackedbox
Comment[pt_BR]=Logar no ambiente Hackedbox
Comment[ro]=Această sesiune vă va loga în Hackedbox
Comment[sk]=Toto sedenie vás prihlási do prostredia Hackedbox
Comment[sl]=Ta seja vas prijavi v Hackedbox
Comment[sq]=Kjo seancë do t'ju fusë në Hackedbox
Comment[sr]=Ова сесија вас пријављује на Hackedbox
Comment[sr@Latn]=Ova sesija vas prijavljuje na Hackedbox
Comment[sv]=Denna session loggar in dig i Hackedbox
Comment[tr]=Bu oturum ile Hackedbox'a giriş yaparsınız
Comment[uk]=Сеанс роботи в середовищі Hackedbox
Comment[vi]=Session này cho bạn đăng nhập vào Hackedbox
Comment[zh_CN]=此会话使您登录到 Hackedbox
Comment[zh_TW]=選取這個作業階段後會進入 Hackedbox 環境
Exec=hackedbox
TryExec=hackedbox
# no icon yet, only the top three are currently used
Icon=
Type=Application
